[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
isort = "*"
pytest = "*"
freezegun = "*"
bandit = "*"
mypy = "*"

[packages]
pymongo-migrate = {editable = true,path = "."}

[requires]
python_version = "3.6"
